*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.uniq-card{
    display: block;
    width: 100%;
    height: 650px;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: transparent;
    background: transparent;
    margin: 0 auto;
    padding: 100px;
}
.cards{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 0 30px;
    overflow: hidden;
}
.single-card{
    position: relative;
    background-color: #150727;
    width: 25%;
    color: white;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 30px;
}
.uniq-card-img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uniq-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.uniq-card-img img:hover{
    transform: scale(1.2);
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.description{
    font-size: 16px;
    line-height: 1.5;
    flex-grow: 1;
    margin-bottom: auto;
    overflow: hidden;
    padding-right: 10px;
}