@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.container {
    position: relative;
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.container .card {
    position: relative;
    width: 350px;
    height: 180px;
    background: #333;
    transition: 0.5s;
}

.container .card:hover {
    height: 450px;
}

.container .card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.container .card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}

.container .card:hover .lines::before {
    animation-play-state: running;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.container .card .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.container .card .imgbx {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%);
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card:hover .imgbx {
    top: 25px;
    width: 200px;
    height: 200px;
}

.container .card .imgbx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.container .card:hover .imgbx::before {
    animation-play-state: running;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.container .card .imgbx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.container .card .imgbx img {
    position: absolute;
    width: 100px;
    z-index: 1;
    filter: invert(1);
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .imgbx img {
    opacity: 1;
}

.container .card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.container .card .content .details {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(100px);
}

.container .card:hover .content .details {
    transform: translateY(0px);
}

.container .card .content .details h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #45f3ff;
    line-height: 1.2em;
}

.container .card .content .details p {
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content .details p {
    opacity: 1;
}

.container .card .content .details a {
    display: inline-block;
    padding: 8px 15px;
    background: #45f3ff;
    color: #292929;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content .details p,
.container .card:hover .content .details a {
    opacity: 1;
}